.slide-enter-active,
.slide-leave-active {
	transition: max-height 0.5s ease-in-out;
}

.slide-enter-to,
.slide-leave {
	overflow: hidden;
	max-height: 1000px;
}

.slide-enter,
.slide-leave-to {
	overflow: hidden;
	max-height: 0;
}